
.age-gate-wrapper{
	.custom-markup{
	    width:100%;
	    max-width:500px;
	    position:relative;
	    top:-60px;
	    background-color:red !important;
	    text-align:center;
	    padding:25px 0;
	    
	}
	.age-gate-subheading{
	    font-family: DinPro !important;
	}
}


