.blog-list, .category-lists{
    margin-bottom: 50px;

    .post_details{
    	p{
	    	a{
	    		color:#CF8383 ;
	    	}	
    	}
    	
    }
    .blog-header{
        padding: 40px 0;
        margin-bottom: 30px;
        position: relative;
        &:before{
            position: absolute;
            content: '';
            width: 100%;
            height: 8px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: $black;
        }
        h3{
            display: inline-block;
            padding: 0 40px;
            background-color: $white;
            margin-bottom: 0;
        }
    }
    .blog-lists{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .blog-list-item, .category-list-item{
        padding-bottom: 62%;
        position: relative;
        background-position: center;
        background-size: cover;
        @include respond-to(sm){
            margin-bottom: 30px;
            padding-bottom: 64%;
        }
        
        .blog-list-content, .category-list-content{
            padding: 5px 25px 5px 0;
            position: absolute;
            bottom: 0;
            background-color: $white;
            max-height: 76px;
            overflow: hidden;
            width: auto;
            max-width: 80%;
            h4{
                margin: 0;
                text-transform: capitalize;
            }
        }
        &.lg{
            padding-bottom: 64%;
            .blog-list-content, .category-list-content{
                padding: 10px 25px 10px 0;
                max-height: 162px;
                h4{
                    font-size: 55px;
                }
            }
            @include respond-to(sm){
                .blog-list-content, .category-list-content{
                    padding: 5px 25px 5px 0;
                    max-height: 42px;
                    h4{
                        font-size: 27px;
                    }
                }
            }
            
        }
    }
    &.recent-blog-post, &.blog-page-brands{
        .blog-list-item{
            margin-bottom: 30px;
        }
    }
    &.blog-page-brands{
        .blog-list-item{
            padding-bottom: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            .blog-list-content{
                h4{
                    text-transform: uppercase;
                }
            }
            &.lg{
                padding-bottom: 50%;
                .blog-list-content{
                    width: 30%;
                    h4{
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.post_details{
	ul{
		/*padding-left: 15px;*/
		font-size: 20px;
	}

	.featured_image{

		img{
			max-width: 100%;
			display: block;
			margin:0 auto;
		}
	}
}

.post_links{
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 15px;
	a{
		color:#212529;
		svg{
			color:#000;
			width: 25px;
		}
	}

	.back_to_blog{
		font-size: 25px;

		@include largeToLaptop{
			font-size: 20px;
			padding:15px 30px;
		}

		@include mediumToLarge{
			font-size: 15px;
			padding:15px 20px;
		}

		@include medium{
			font-size: 18px;
			padding:15px 20px;
		}



	}

	.prev_post{

	}

	.next_post{

	}
	
}