.feature-table{
    padding: 0;
    margin: 0;
    @include medium{
    	padding-bottom: 25px;
    }
    .feature-table-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include respond-to(sm){
            grid-template-columns: 1fr;
            max-width: 400px;
            margin: 0 auto;
        }
        .feature-table-item{
            height: 750px;
            position: relative;
            background-size: cover;
            @include transition(all 0.3s ease-in-out);
            @include respond-to(lg){
                height: 700px;
            }
            @include respond-to(md){
                height: 640px;
            }
            @include respond-to(sm){
                height: 700px;
            }

            @include medium{
            	margin-bottom: 30px;

            }
            
            .feature-table-content{
                position: absolute;
                width: 100%;
                padding-left: 85px;
                padding-right: 85px;
                top: 50%;
                transform: translateY(-50%);
                @include transition(all 0.3s ease-in-out);
                @include respond-to(lg){
                    padding-left: 15px;
                    padding-right: 15px;
                }

                
                img{
                    width: 110px;
                    margin-bottom: 30px;
                    @include respond-to(lg){
                        width: 80px;
                    }

                    &.white{
                    	display: none;
                    }
                }
                p,a{
                	@include minLarge{
                		visibility: hidden;
	                    opacity: 0;
	                    /*max-height: 0;*/
	                    margin: 0;
	                    @include transition(all 0.3s ease-in-out);
                	}
                    
                }

                a{
					background-color:pink;
					padding:20px 30px;
					display: inline-block;
					margin-top: 50px;
					color:#000;
					font-size: 20px;
					font-family: DinPro-condensed;
					font-weight: 500;
					text-transform: uppercase;
                }

                @include medium{
                	height: 100%;
                	background: rgba(0,0,0,.5);
                	padding:25px 15px;

                	img.black{
                		display: none;
                	}
                	img.white{
                		display: block;
                		margin:0 auto;
                		margin-bottom: 15px;
                	}

                	p,h2.black{
                		color:#fff;
                	}

                	h2.black:before{
                		background:#fff;
                	}

                }


            }
            &:hover{
            	@include minLarge{
	            	background-image: none !important;
	                background-color: #000;	
            	}
                
                @include transition(all 0.3s ease-in-out);
                .feature-table-content{
                    @include transition(all 0.3s ease-in-out);
                    p,a{
                        visibility: visible;
                        opacity: 1;
                        max-height: 190px;
                        @include transition(all 0.3s ease-in-out);
                    }
                    h2{
                    	color:#fff;
                        &:before{
                            @include transition(all 0.3s ease-in-out);
                            background-color: $white;
                        }
                    }

                    p{
                    	color:#fff;
                    }

                    img.black{
                    	display: none;
                    }
                    img.white{
                    	display: inline-block;
                    }
                }
            }


        }
    }
}