.new_featrues{
	padding:150px 0;
	.area_title{
		display: inline-block;
		margin-bottom: 150px;
		font-size: 55px;

		@include medium{
			font-size: 40px;
		}

		@include small{
			font-size: 35px;
		}

		@include extraSmall{
			font-size: 20px;
		}


		&:before{
			left: 50%;
			transform:translateX(-50%);
			bottom:-75px;
		}

	}


	.no-padding{
		padding-left: 0;
		padding-right: 0;

	}

	

	.img-col{
		.col-md-6:nth-child(1){
			margin-bottom: 30px;
		}

		.col-md-6{
			@include medium{
				margin-bottom: 30px;
			}

			img{
				display: block;
				margin:0 auto;
			}
		}
	}

	.text-col{
		.inner{
			h2{
				@include mediumToLarge{
					font-size: 30px;
					margin-top: 30px;
				}

				@include medium{
					font-size: 35px;
				}
				@include small{
					font-size: 30px;
				}
				@include extraSmall{
					font-size: 19px;
				}

				&:before{
					margin-bottom: -45px;
					@include mediumToLarge{
						margin-bottom: -5px;
					}

					@include medium{
						left: 50%;
						margin-bottom: 0;
						transform: translateX(-50%);
					}
				}
			}
			p{
				font-size: 28px;
				margin-top: 150px;

				@include mediumToLarge{
					margin-top: 70px;
					font-size: 22px;
				}

				@include medium{
					font-size: 25px;
					margin-top: 20px;
				}

				@include small{
					font-size: 20px;
					margin-top: 20px;
				}				
				@include extraSmall{
					font-size: 16px;
					margin-top: 20px;
				}
			}

			@include largeToLaptop{
				padding-left: 20px;
			}


			@include minLaptop{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: fit-content;
			}

			@include mediumToLarge{
				padding: 15px;
				padding-left: 25px;
			}

			@include medium{
				padding:0 15px;
				text-align: center;
			}


		}
	}



}