.new_featrues{
	padding:150px 0;
	.area_title{
		display: inline-block;
		margin-bottom: 150px;
		font-size: 55px;


		&:before{
			left: 50%;
			transform:translateX(-50%);
			bottom:-75px;
		}

	}


	.no-padding{
		padding-left: 0;
		padding-right: 0;
	}

	.inner{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: fit-content;

		p{
			font-size: 28px;
			margin-top: 130px;
		}
	}

	.img-col{
		.col-md-6:nth-child(1){
			margin-bottom: 30px;
		}
	}



}