.home-contact-form{
    background-color: $pink;
    padding: 110px 0;
    .contact-form{
        max-width: 660px;
        margin: 0 auto;
    }
}

@media only screen and(min-width: 576px){

	.home_contact_form{
		.offset-sm-3{
			margin-left: 25% !important;
		}

		.gfield{
			float: left;
			clear: none !important;
			display: inline;
		}

		select, input{
			margin-bottom: 0 !important;
		}

		
	}

}

.home_contact_form_wrapper{
	top: -25px !important;
	position: relative;
	display: block !important;
	margin:0 auto !important;

	input{
		padding-left: 20px;
	}

	input[type="submit"]{
		max-width: 177px;
		padding-left: 35px !important;
		padding-right: 35px !important;
	}

	
	.ginput_container .form-control{
		padding-left: 20px !important;
	}
}


.cta_form_wrapper{
	@media only screen and(max-width: 450px){
		input[type="submit"]{
			padding-left: 15px !important;
			font-size: 13px !important;
		}
	}
}