.instagram{

	padding:100px 0 ;
	img{
		width: 100%;
		margin-bottom: 30px;
	}

	a{
		color:#000;
		font-size: 20px;
		font-weight: 700;
	}
}

.sb_instagram_header {
	display: none;
}

.instagram #sb_instagram #sbi_images .sbi_item{
	padding: 15px !important;
}