.join-circle{
    padding: 140px 80px;
    background-size: auto;
    background-repeat: repeat;

    @include mediumToLarge{
    	padding:70px 30px;
    }
    @include small{
    	padding:70px 30px;
    }
    @include extraSmall{
    	padding:50px 15px;
    }
    .join-circle-container{
        padding: 40px 0;
        background-color: $white;
        h1.join-circle-title{
            font-size: 155px;
            line-height: 90%;
            letter-spacing: 20px;

            @include largeToLaptop{
            	font-size: 120px;
            }
            @include mediumToLarge{
            	font-size: 100px;
            }
            @include respond-to(sm){
                margin-top: 30px;
                font-size: 80px;
                letter-spacing: 10px;
            }
            
        }
        .join-circle-content{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
            	@include medium{
					height: 66px;
            	}
            }
        }
    }
}

.blog--join-circle{
	padding-top: 140px;
	padding-bottom: 140px;

	.join-circle-container{
		background: none;

		.container{
			background: #fff;
			padding-top: 60px;
			padding-bottom: 60px;

			p{
				font-size: 22px;
			}
		}
	}

	.gform_wrapper .gform_footer{
		margin-top: 0;
	}

	.ginput_container {
		input[type="text"]{
			margin-bottom: 0 !important;
		}
	}
}